<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanghaiwater.mcs.db.mapper.McsIncidentTempMapper">
	<select id="selectApiIncidentList" resultType="com.shanghaiwater.mcs.db.vo.ApiIncidentVo" parameterType="java.util.Map">
	SELECT
	incident.USER_NO,
	incident.INCIDENT_ID,
	incident.INCIDENT_TYPE,
	incident.CDATE AS APPDATE,
	'IncidentStatus.TempSave' AS STATUS,
	(
		SELECT
			ship.ALIAS 
		FROM
			MCS_MEMBER_RELATIONSHIP ship 
		WHERE
			ship.USER_ID = incident.CDTOR 
			AND ship.STATUS = 0 
			AND ship.USER_NO = incident.USER_NO 
	) AS ALIAS 
	FROM
		MCS_INCIDENT_TEMP_SAVE incident 
	WHERE
		1 = 1 
	<if test="userId != null and userId != ''">
		AND incident.CDTOR = #{userId,jdbcType=VARCHAR}
	</if>	
	<!-- 类别  -->
	<if test="incidentType != null and incidentType != ''">
		AND incident.INCIDENT_TYPE = #{incidentType,jdbcType=VARCHAR}
	</if>
	<!-- 户号 -->
	<if test="userNo != null and userNo != ''">
		AND incident.USER_NO = #{userNo,jdbcType=VARCHAR}
	</if>
	<!-- 开始时间 -->
	<if test="startTime != null and startTime != ''">
		AND incident.CDATE &gt;= TO_DATE(#{startTime,jdbcType=VARCHAR},'yyyy-MM-dd HH24:mi:ss')
	</if>
	<!-- 结束时间 -->
	<if test="endTime != null and endTime != ''">
		AND incident.CDATE &lt; TO_DATE(#{endTime,jdbcType=VARCHAR},'yyyy-MM-dd HH24:mi:ss')
	</if>
	ORDER BY incident.CDATE DESC
	</select>
</mapper>
