<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanghaiwater.mcs.db.mapper.UswCompanyApplyMapper">

  <select id="selectCompanyApplyList" resultType="com.shanghaiwater.mcs.common.vo.CompanyApplyMgtVO" parameterType="java.util.Map">
    select * from (
    select A.*,ROWNUM RN from 
    (
	select
		incident.incident_id			incident_id
		,incident.apply_no				apply_no
		,incident.applicant				applicant
		,incident.appdate				appdate
		,incident.status				status
		,incident.incident_type			incident_type
		,incident.cert_type				cert_type
		,incident.cert_number			cert_number
		,incident.email					email
		,(select item_value from sys_multi_code_detail where item_code = incident.xzq and parent_item_code = incident.company_name)					xzq
		,incident.company_name			company_name
		,incident.company_type			company_type
		,incident.social_credit_code	social_credit_code
		,incident.description			description
		,comapply.fa_id				fa_id
		,comapply.cm_sta				cm_sta
		,comapply.update_dttm				update_dttm
		,comapply.cis_company				cis_company
		,comapply.business_type				business_type
		,comapply.per_name				per_name
		,comapply.xzq				xzqApply
		,comapply.jdz				jdz
		,comapply.address				address
		,comapply.apply_content				apply_content
		,comapply.project				project
		,comapply.contact_person				contact_person
		,comapply.phone				phone
		,comapply.mail				mail
		,comapply.ysxqsc				ysxqsc
		,comapply.ysxqxf				ysxqxf
		,comapply.overall_floorage				overall_floorage
		,comapply.qyzjlx				qyzjlx
		,comapply.qyzjbm				qyzjbm
		,comapply.frxm				frxm
		,comapply.frsfzhm				frsfzhm
		,comapply.ydxz				ydxz
		,comapply.build_type				build_type
		,comapply.wygz				wygz
		,comapply.khxz				khxz
		,comapply.sqlb				sqlb
	
	from	usw_company_apply			comapply
	inner join mcs_incident				incident	on		comapply.incident_id		= incident.incident_id
	where	1 = 1
		and	incident.status			!=	'IncidentStatus.Draft'
	<if test="isNormalAdmin">
		and comapply.cis_company	=	#{companyCode,jdbcType=VARCHAR}
	</if>
	
	<if test="status != null and status != ''">
		and incident.status = #{status,jdbcType=VARCHAR}
	</if>
	<if test="startdate != null and startdate != ''">
		and incident.appdate &gt;= #{startdate,jdbcType=VARCHAR}
	</if>
	<if test="enddate != null and enddate != ''">
		and incident.appdate &lt; #{enddate,jdbcType=VARCHAR}
	</if> 
    ) A
    where 1 = 1
    <if test="limit != null and limit != ''">
        and rownum &lt;= #{limit,jdbcType=INTEGER} + #{page,jdbcType=INTEGER}
    </if>
    )
    where 1 = 1
    <if test="limit != null and limit != ''">
        and RN &gt; #{page,jdbcType=INTEGER}
    </if>
  </select>
  
   <select id="selectCompanyApplyCount" resultType="Integer" parameterType="java.util.Map">
	select
		count(*)
	from	usw_company_apply			comapply
	inner join mcs_incident				incident	on		comapply.incident_id		= incident.incident_id
	where	1 = 1
		and	incident.status			!=	'IncidentStatus.Draft'
	<if test="isNormalAdmin">
		and comapply.cis_company	=	#{companyCode,jdbcType=VARCHAR}
	</if>
	
	<if test="status != null and status != ''">
		and incident.status = #{status,jdbcType=VARCHAR}
	</if>
	<if test="startdate != null and startdate != ''">
		and incident.appdate &gt;= #{startdate,jdbcType=VARCHAR}
	</if>
	<if test="enddate != null and enddate != ''">
		and incident.appdate &lt; #{enddate,jdbcType=VARCHAR}
	</if> 

	
  </select>

</mapper>
